.title {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 0 0;
  text-transform: uppercase;
  color: #616874;
}
.title > span {
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 10px 0;
  display: block;
  color: black;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.enterCode {
  position: absolute;
  left: 0;
  top: 250px;
  right: 0;
  bottom: 250px;
}

.enterCode > .input {
  font-size: 20px;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  display: block;
  background: #ffffff4d;
}

.actions {
  position: absolute;
  left: 0;
  right: 0;
  height: 180px;
  bottom: 70px;
}

button {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  color: #616874;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background .3s;
}
button:hover {
  background: rgba(255, 255, 255, 0.2);
}

