.logo {
  background: url("../../assets/images/logo.png") no-repeat center center;
  position: absolute;
  background-size: 100%;
  top: 10px;
  height: 45%;
  left: 27%;
  right: 27%;
  max-width: 600px;
  margin: 0 auto;
}

.navigation {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  height: 40%;
  overflow-y: hidden;
}

.navigation > .row {
  width: calc(220px * 2);
  margin: 0 auto;
}

a.navButton.small {
  width: 100px;
  height: 100px;
  margin: 25px 26px;
}

a.navButton.abc {
  background: white url("../../assets/images/icons/abc.png") no-repeat center center;
  background-size: 50%;
}
a.navButton.puzzle {
  background: white url("../../assets/images/icons/puzzle.png") no-repeat center center;
  background-size: 50%;
}
