<a class="navButton small left opacity fullscreen"></a>
<a routerLink="" class="navButton small right opacity close"></a>

<section class="grid">

  <section class="left">
    <div class="cover {{img_book}}"></div>
  </section>

  <section class="right alphabet">

    <div class="button" [class.active]="isActive('A')" data-value="A" (click)="changeCover($event)">А</div> <!-- А -->
    <div class="button" [class.active]="isActive('B')" data-value="B" (click)="changeCover($event)">Б</div> <!-- Б -->
    <div class="button" [class.active]="isActive('V')" data-value="V" (click)="changeCover($event)">В</div> <!-- В -->
    <div class="button" [class.active]="isActive('G')" data-value="G" (click)="changeCover($event)">Г</div> <!-- Г -->
    <div class="button" [class.active]="isActive('D')" data-value="D" (click)="changeCover($event)">Д</div> <!-- Д -->

    <div class="button" [class.active]="isActive('Dzh')" data-value="Dzh" (click)="changeCover($event)">Дж</div> <!-- Дж -->
    <div class="button" [class.active]="isActive('DZ')" data-value="DZ" (click)="changeCover($event)">Дз</div> <!-- Дз -->
    <div class="button" [class.active]="isActive('E')" data-value="E" (click)="changeCover($event)">Е</div> <!-- Е -->
    <div class="button" [class.active]="isActive('Yo')" data-value="Yo" (click)="changeCover($event)">Ё</div> <!-- Е -->
    <div class="button" [class.active]="isActive('Zh')" data-value="Zh" (click)="changeCover($event)">Ж</div> <!-- Ж -->

    <div class="button" [class.active]="isActive('Z')" data-value="Z" (click)="changeCover($event)">З</div> <!-- З -->
    <div class="button" [class.active]="isActive('I')" data-value="I" (click)="changeCover($event)">І</div> <!-- І -->
    <div class="button" [class.active]="isActive('J')" data-value="J" (click)="changeCover($event)">Й</div> <!-- Й -->
    <div class="button" [class.active]="isActive('K')" data-value="K" (click)="changeCover($event)">К</div> <!-- К -->
    <div class="button" [class.active]="isActive('L')" data-value="L" (click)="changeCover($event)">Л</div> <!-- Л -->

    <div class="button" [class.active]="isActive('M')" data-value="M" (click)="changeCover($event)">М</div> <!-- М -->
    <div class="button" [class.active]="isActive('N')" data-value="N" (click)="changeCover($event)">Н</div> <!-- Н -->
    <div class="button" [class.active]="isActive('O')" data-value="O" (click)="changeCover($event)">О</div> <!-- О -->
    <div class="button" [class.active]="isActive('P')" data-value="P" (click)="changeCover($event)">П</div> <!-- П -->
    <div class="button" [class.active]="isActive('R')" data-value="R" (click)="changeCover($event)">Р</div> <!-- Р -->

    <div class="button" [class.active]="isActive('S')" data-value="S" (click)="changeCover($event)">С</div> <!-- С -->
    <div class="button" [class.active]="isActive('T')" data-value="T" (click)="changeCover($event)">Т</div> <!-- Т -->
    <div class="button" [class.active]="isActive('U')" data-value="U" (click)="changeCover($event)">У</div> <!-- У -->
    <div class="button" [class.active]="isActive('W')" data-value="W" (click)="changeCover($event)">Ў</div> <!-- Ў -->
    <div class="button" [class.active]="isActive('F')" data-value="F" (click)="changeCover($event)">Ф</div> <!-- Ф -->

    <div class="button" [class.active]="isActive('X')" data-value="X" (click)="changeCover($event)">Х</div> <!-- Х -->
    <div class="button" [class.active]="isActive('C')" data-value="C" (click)="changeCover($event)">Ц</div> <!-- Ц -->
    <div class="button" [class.active]="isActive('CH')" data-value="CH" (click)="changeCover($event)">Ч</div> <!-- Ч -->
    <div class="button" [class.active]="isActive('SH')" data-value="SH" (click)="changeCover($event)">Ш</div> <!-- Ш -->
    <div class="button" [class.active]="isActive('EE')" data-value="EE" (click)="changeCover($event)">Э</div> <!-- Э -->

    <div class="button" [class.active]="isActive('Y')" data-value="Y" (click)="changeCover($event)">Ю</div> <!-- Ю -->
    <div class="button" [class.active]="isActive('YA')" data-value="YA" (click)="changeCover($event)">Я</div> <!-- Я -->

  </section>
</section>
