<a class="navButton small left opacity fullscreen"></a>
<a (click)="close(isChoosePieces)" class="navButton small right opacity close"></a>

<section class="choosePieces" *ngIf="isChoosePieces">

  <section class="title">Выберыце колькасць пазлаў</section>

  <section class="navigation clearfix">
    <section class="row clearfix">

      <a (click)="choosePuzzle(2)" class="navButton rectangle">4</a>
      <a (click)="choosePuzzle(3)" class="navButton rectangle">9</a>
      <a (click)="choosePuzzle(4)" class="navButton rectangle">16</a>
      <a (click)="choosePuzzle(5)" class="navButton rectangle">25</a>

    </section>
  </section>

</section>

<section class="puzzle" [ngStyle]="{'width': screenWidth, 'height': screenHeight}" *ngIf="!isChoosePieces">

  <div id="puzzle-containment" class="container">
    <div class="row" style="max-width:1280px;margin:auto">
      <div class="col-sm-6">
        <div style="margin: 0 auto;width: 600px;">
            <span class="snappuzzle-wrap">
                <img id="source_image" class="pure-img" src="{{currentImage}}">
            </span>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="pile" style="margin: 10px; height: 347px;" class="asd">
        </div>
      </div>
    </div>
  </div>

</section>
